:root {
    --primary: #e80303;
    --television: #3A82EE;
    --radio: var(--primary);
    --light: #EEE;
    --dark: #313154;
    --danger: #FF5B57;
    --grey: #888;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    --television-glow: 0 0 4px rgba(58, 130, 238, 0.75);
    --radio-glow: 0 0 4px rgba(234, 64, 164, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

input:not([type=radio]):not([type="checkbox"]),
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background-color: var(--light);
    color: var(--dark);

}

.app {
    margin-left: 5%;
    margin-right: 5%;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.logout {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--primary);
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.title1 {
    float: right;
}

#loglink {
    float: right;
    text-decoration: none;
    color: #FFF;
}

#create-schedule-user {
    visibility: hidden;
    height: 0px;
}


h2 button {
    margin: 5px;
}

h3 {
    color: var(dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title {
    display: flex;
}

.greeting .title {
    flex-direction: row;
    justify-content: center;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .logout {
    float: right;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5 rem;
    font-weight: 700;
}

.create-schedule input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.create-schedule .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    bottom: 1.5rem;
}

.create-schedule .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    margin-bottom: 1.5rem;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid var(--television);
    box-shadow: var(--television-glow);
}

.bubble.radio {
    border-color: var(--radio);
    box-shadow: var(--radio-glow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    height: 0px;
    width: 0px;
    background-color: var(--television);
    box-shadow: var(--television-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.bubble.radio::after {
    background-color: var(--radio);
    box-shadow: var(--radio-glow)
}

input:checked~.bubble::after {
    height: 10px;
    width: 10px;
    opacity: 1;
}

.create-schedule .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-schedule input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--radio-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.create-schedule input[type="submit"]:hover {
    background-color: #d3007b;
}

.schedule-list .list {
    margin: 1rem 0;
}

.schedule-list .schedule-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.schedule-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.schedule-item .schedule-content {
    flex: 1 1 0px;
}

.schedule-item .schedule-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.schedule-item .actions {
    display: flex;
    align-items: center;
}

.schedule-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.schedule-item .actions .delete:hover {
    background-color: #e21b18;
}

.schedule-item .actions .edit:hover {
    background-color: #d3007b;
}

.schedule-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}

.schedule-item .actions .delete {
    margin-right: 0.5rem;
    background-color: var(--danger);
}

.schedule-item.done .schedule-content input {
    text-decoration: line-through;
    color: var(--grey);
}